/* src/Footer.css */
.footer-img {
  width: 100px;
  height: auto;
  padding-left: 900px;
}

/* Other existing styles */
.footer {
  padding: 10px 0;
  background-color: #f8f9fa;
  height: 50px;
}

.footer-dark {
  background-color: #343a40;
  color: #ffffff;
}

.footer-dark .theme-switch {
  border: 1px solid #ffffff;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  display: inline-block;
}
.footer-div{
  padding-top: 20px;
}
/* Global styles for the app */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}



/* Footer.css */


.footer-dark {
  background-color: #343a40;
  color: #ffffff;
}

.footer-content {
  display: flex;
  align-items: center;
}


.footer-img-container {
  display: flex;
  align-items: center;
}

.footer-img {
  width: 100px;
  height: auto;
}
